.box-formules  {
  padding: 3rem 5rem;
  margin-bottom: 4em;

}

.title-formules {
  padding-bottom: 2rem;
  text-align: left;
  font-weight: 600;
  font-family: "Caveat", serif;
  font-size: 44px;
}

.raleway-typography {
font-family: "Raleway";
}