.menu-links {
    color: "#370665";
}


@media only screen and (max-width: 992px) {
    #connexion-button{ display: none !important; }
 }


@media only screen and (max-width: 992px) {
    #inscription-button{ display: none !important; }
 }

#text-decoration-none {
    text-decoration: none;
}